$golden: 1.618;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap&subset=cyrillic');

html {
    font-size: 100%;
}

body {
    margin: 5% 10%;
    display: flex;

    font-family: Montserrat, "Trebuchet MS", Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    line-height: $golden;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.4em;
}

h2.whale::first-letter {
    color: #c00;
}
